// Font
$font-main: 'museo_sans_cyrl500', sans-serif;
$font-mainbold: 'museo_sans_cyrl700', sans-serif;
$font-mainlight: 'museo_sans_cyrl300', sans-serif;
$font-corm:'Cormorant', serif;

// Color
$color-main: #3D3D3D;
$color-grey: #ABABAB;
$color-green: #56C37C;
$color-black: #494949;

// Font size
$size-main: 16px;