.m-prod {

    &__container {
        padding-top: 53px;
    }

    &__title {
        font-size: 48px;
        line-height: 1;
        text-align: left;
    }

    &__header {
        margin-top: -16px;
        margin-bottom: 64px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &-value {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-right {
            display: flex;
            align-items: center;
        }

        &-add {
            margin-right: 35px;

            a {
                display: inline-block;
                font-size: 14px;
                letter-spacing: 0.04em;
                color: #56C47C;

                &:hover {
                    color: #008830;
                }
            }
        } 
    }

    &__head {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #ABABAB;

        &-right {
            display: flex;
            align-items: center;
        }

        &-scarcity {
            width: 161px;
        }

        &-stock {
            width: 35px;
        }
    }

    &__item {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-left {
            flex-grow: 1;
        }

        &-name {

            input {
                width: 100%;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 0.04em;
                color: #56C37C;
            }
        }

        &-right {
            display: flex;
            align-items: center;
            font-size: 14px;
            letter-spacing: 0.04em;
            color: #3D3D3D;
        }

        &-scarcity {
            width: 161px;
        }

        &-stock {
            width: 35px;
        }
    }
}

@media all and (max-width: 767px) {
    .m-prod {

        &__title {
            margin-bottom: 16px;
        }

        &__header {
            margin-top: 0;
            flex-direction: column;
            align-items: unset;

            &-right {
                justify-content: space-between;
            }
        }
    }
}

@media all and (max-width: 577px) {
    .m-prod {

        &__header {

            &-value {
                margin-bottom: 10px;
            }

            &-add {
                margin-bottom: 10px;
            }

            &-right {
                flex-direction: column;
                align-items: unset;
                
            }
        }

        &__item {
            flex-direction: column;

            &-name {
                margin-bottom: 10px;
                width: 100%;
            }

            &-right {
                justify-content: flex-end;
            }
        }
    }
}