.bask {
    margin-bottom: 144px;

    .container-fluid {
        padding: 0;
    }

    &__wrapper {
        padding-top: 69px;
    }

    &__container {
        
        display: flex;
    }

    &__wrap {
        flex-grow: 1;
        margin-right: 32px;
    }

    &__title {
        margin-bottom: 45px;
        font-size: 56px;
        text-align: left;
    }

    &__orders {
        margin-bottom: 48px;

        &-content {
            display: none;

            &.active {
                display: block;
            }
        }

        &-item {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        &-img {
            margin-right: 12px;
            width: 160px;
            height: 160px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &-desc {
            flex-grow: 1;
            padding: 19px 24px;
            position: relative;
            border: 1px solid #DFDFDF;
        }

        &-name {
            margin-bottom: 11px;
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #494949;
        }

        &-dime {
            margin-bottom: 12px;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
        }

        &-left {
            display: flex;
            align-items: center;
        }
    }

    &__dates {
        margin-right: 16px;
        display: flex;
        align-items: center;

        span {
            display: inline-block;
            margin-right: 8px;
        }

        &-item {
            width: 120px;

            input {
                width: 100%;
                padding: 15px 16px;
                border: 1px solid #E5E5E5;
                font-size: 16px;
                color: #3D3D3D;

                &:hover,
                &:focus {
                    border: 1px solid #56C37C;
                }

                &::placeholder {
                    color: #ABABAB;
                }
            }

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__amount {
        display: flex;
        margin-right: 16px;

        &-input {
            width: 50px;
            height: 50px;

            input {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                border: 1px solid #DFDFDF;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #3D3D3D;

                &:hover,
                &:focus {
                    border: 1px solid #56C37C;
                }
            }
        }

        &-desc {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background: #F8F8F8;
            border: 1px solid #DFDFDF;
            border-left: none;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #C4C4C4;
        }
    }

    &__prices {
        display: flex;
        align-items: center;
    }

    &__price {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #3D3D3D;

        &-value {
            padding: 0 5px;
        }
    }

    &__total {
        font-size: 16px;
        letter-spacing: 0.01em;

        color: #ABABAB;

        &-value {
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #494949;
        }
    }

    &__delete {
        width: 16px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &:hover {

            img {
                filter: brightness(0) saturate(100%) invert(69%) sepia(37%) saturate(571%) hue-rotate(88deg) brightness(91%) contrast(87%);
            }
        }
    }

    &__delivery {
        margin-bottom: 27px;
        
        padding-bottom: 24px;
        border-bottom: 1px solid #DFDFDF;

        &-wrap {
            display: none;
            justify-content: space-between;

            &.active {
                display: flex;
            }
        }

        &-hide {
            display: none;
            justify-content: space-between;

            &.active {
                display: flex;
            }
        }

        &-link {

            a {
                font-size: 14px;
                letter-spacing: 0.04em;
                color: #56C47C;

                &:hover {
                    color: #008830;
                }
            }
        }
    }

    &__dhide {

        &-title {
            margin-bottom: 16px;
            font-size: 28px;
            line-height: 1;
            text-align: left;
        }

        &-subtitle {
            margin-bottom: 16px;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;

            span {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        &-first {
            width: 326px;
        }

        &-second {
            width: 370px;
        }

        &-getting {
            margin-bottom: 10px;
        }

        &-link {
            cursor: pointer;

            &:hover {

                * {
                    color: #56C37C;
                }
            }
        }

        &-time {
            display: inline-block;
            margin-bottom: 10px;

            &>div {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        &-place {
            margin-bottom: 10px;
        }

        &-price {
            font-family: "Cormorant", serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #494949;
        }

        &-delete {

            a {
                display: inline-block;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-decoration: underline;
                color: #56C37C;

                &:hover {
                    color: $color-darkgreen;
                }
            }
        }
    }

    &__shide {

        &-title {
            margin-bottom: 16px;
            font-size: 28px;
            line-height: 1;
            text-align: left;
        }

        &-subtitle {
            margin-bottom: 16px;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;

            span {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        &-first {
            width: 326px;
        }

        &-time {
            margin-top: 10px;
        }

        &-second {
            width: 370px;
        }

        &-price {
            font-family: "Cormorant", serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #494949;
        }

        &-delete {

            a {
                display: inline-block;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-decoration: underline;
                color: #56C37C;

                &:hover {
                    color: $color-darkgreen;
                }
            }
        }
    }

    &__size {
        width: 384px;

        &-box {
            margin-bottom: 20px;
        }

        &-item {
            display: flex;
        }

        &-desc {
            width: 152px;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-value {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;
        }

        &-car {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;
        }

        
    }

    &__punkt {
        width: 370px;

        &-desc {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-address {
            margin-bottom: 20px;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;
        }

        &-time {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;
        }
    }

    &__setup {
        margin-bottom: 21px;
        padding-bottom: 24px;
        border-bottom: 1px solid #DFDFDF;

        &-wrap {
            display: none;
            justify-content: space-between;

            &.active {
                display: flex;
            }
        }

        &-hide {
            display: none;
            justify-content: space-between;

            &.active {
                display: flex;
            }
        }

        &-desc {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-item {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #3D3D3D;
        }

        &-link {

            a {
                font-size: 14px;
                letter-spacing: 0.04em;
                color: #56C47C;

                &:hover {
                    color: #008830;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: flex-end;
        
        &-box {
            width: 256px;
        }

        &-total {
            margin-bottom: 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-desc {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-value {
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #494949;
        }

        &-button {

            a {
                display: block;
                padding: 22px 0;
                width: 100%;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #FD9590;
            }
        }
    }

    &__spec {

        &-item {
            padding: 14px 14px 19px;
            width: 160px;
            background: #F8F8F8;
            border: 1px solid #DFDFDF;
            cursor: pointer;

            &.active,
            &:hover {
                border: 3px solid #FD9590;
                padding: 12px 12px 17px;
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &-name {
            margin-bottom: 12px;
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: -0.006em;
            color: #3D3D3D;
        }

        &-desc {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-total {
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #494949;
        }
    }
}

@media all and (max-width: 1199px) {
    .bask {

        &__container {
            flex-direction: column-reverse;
        }

        &__spec {
            display: flex;
            
            margin-bottom: 20px;
            overflow-x: auto;

            &-item {
                flex-shrink: 0;

                &:not(:last-child) {
                    margin-bottom: 0;
                    margin-right: 10px;
                }
            }
        }

        &__size {
            width: 350px;
        }
    }
}

@media all and (max-width: 991px) {
    .bask {
        margin-bottom: 80px;

        &__orders {

            &-left {
                margin-bottom: 20px;
                align-items: flex-start;
                flex-direction: column;
            }

            &-bottom {
                flex-direction: column;
            } 
        }

        &__dhide {

            &-first {
                width: 200px;
            }
            
        }

        &__shide {

            &-first {
                width: 200px;
            }
            
        }

        &__dates {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__delivery {
            flex-wrap: wrap;
        }

        &__size {
            margin-bottom: 20px;
        }
    }
}

@media all and (max-width: 767px) {
    .bask {

        &__orders {

            &-item {
                flex-direction: column;
            }

            &-img {
                margin-bottom: 20px;
            }
        }

        &__punkt {
            margin-bottom: 20px;
        }

        &__delivery {

            &-wrap {
                flex-direction: column;
            }

            &-hide {
                flex-direction: column;
            }
        }

        &__dhide {

            &-first {
                margin-bottom: 20px;
                width: 100%;
            }

            &-second {
                margin-bottom: 20px;
                width: 100%;
            }
        }

        &__setup {

            &-left {
                margin-bottom: 20px;
            }

            &-wrap {
                flex-direction: column;
            }

            &-hide {
                flex-direction: column;
            }
        }

        &__shide {
            
            &-first {
                margin-bottom: 20px;
                width: 100%;
            }

            &-second {
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 577px) {
    .bask {

        &__setup {
            flex-wrap: wrap;

            &-left {
                margin-bottom: 20px;
            }
        }

        &__dates {
            flex-direction: column;

            &-item {
                
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        &__punkt {
            width: 100%;
        }

        &__size {
            width: 100%;
        }
    }
}