.site {
    margin-bottom: 144px;

    .container-fluid {
        padding: 0;
    }

    &__container {
        padding-top: 64px;
    }

    &__header {
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;

        &-left {
            width: 256px;
            margin-right: 8px;
            display: flex;
            flex-direction: column;
        }

        &-avatar {
            margin-bottom: 8px;
            width: 256px;
            height: 256px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;   
                bottom: 0;
                background: linear-gradient(180deg, rgba(248, 214, 184, 0.2) 0%, rgba(245, 168, 165, 0.2) 100%);
            }

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &-person {
            padding: 24px 16px;
            background: #F8F8F8;
            border: 1px solid #DFDFDF;
            flex-grow: 1;
        }

        &-name {
            margin-bottom: 4px;
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: -0.006em;
            color: #3D3D3D;
            white-space: nowrap;
        }

        &-city {
            margin-bottom: 8px;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #ABABAB;
        }

        &-rating {
            display: flex;
            align-items: flex-end;
        }

        &-star {
            margin-right: 10px;
            width: 15px;
        }

        &-rate {
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #56C37C;
        }

        &-right {
            flex-grow: 1;
            position: relative;
        }

        &-banner {
            height: 398px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 21, 75, 0.97) 0%, rgba(143, 154, 184, 0.489583) 99.99%, rgba(255, 255, 255, 0) 100%);
            }

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &-desc {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #fff;
            white-space: nowrap;
        }
    }

    &__arend {
        margin-bottom: 80px;

        &-title {
            margin-bottom: 44px;
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: -0.006em;
            color: #3D3D3D;
        }
    }

    &__new {

        &-title {
            margin-bottom: 44px;
            font-family: $font-corm;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: -0.006em;
            color: #3D3D3D;
        }
    }
}

@media all and (max-width: 767px) {
    .site {
        margin-bottom: 80px;

        &__header {
            flex-direction: column;

            &-left {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
                flex-direction: row;
            }

            &-avatar {
                margin-bottom: 0;
                margin-right: 10px;
            }

            &-person {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}

@media all and (max-width: 577px) {
    .site {

        &__header {

            &-left {
                
                flex-direction: column;
                align-items: center;
            }

            &-avatar {
                margin-bottom: 10px;
                margin-right: 0;
            }

            &-person {
                width: 100%;
            }

            &-desc {
                font-size: 36px;
                line-height: unset;
            }
        }

        &__arend {

            &-title {
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
}

@media all and (max-width: 420px) {
    .site {

        &__header {

            &-desc {
                font-size: 30px;
            }
        }
    }
}