.popup {

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: rgba(33, 33, 33, 0.8);
    }

    &__enter {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;

        &.passive {
            display: none;
        }

        &-nav {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #DFDFDf;
        }

        &-main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            position: relative;
            padding: 22px 0 0;
            background: #FFFFFF;
            box-shadow: 0px 20px 60px rgba(208, 208, 208, 0.5);
        }

        &-content {
            padding-top: 24px;
        }

        &-box {
            display: none;

            &.active {
                display: block;
            }
        }

        &-log {
            padding: 0 32px;
        }

        &-item {
            position: relative;
            margin-bottom: 12px;

            input {
                width: 100%;
                padding: 16px;
                font-size: 16px;
                letter-spacing: 0.01em;
                background: #FFFFFF;
                border: 1px solid #DFDFDF;

                &::placeholder {
                    color: #ABABAB;
                }
            }
        }

        &-logitem {
            margin-bottom: 12px;
            position: relative;
            

            input {
                width: 100%;
                padding: 16px;
                font-size: 16px;
                letter-spacing: 0.01em;
                background: #FFFFFF;
                border: 1px solid #DFDFDF;

                &:focus {
                    border: 1px solid #56C37C;
                }

                &::placeholder {
                    color: #ABABAB;
                }
            }
        }

        &-passicon {
            width: 24px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;

            img {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        &-reg {
            padding: 0 32px;
        }

        &-forgot {
            margin-top: 16px;
            margin-bottom: 32px;
            display: flex;
            justify-content: flex-end;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }

        &-button {
            margin-bottom: 32px;

            input {
                width: 100%;
                padding: 22px 0;
                background: #FD9590;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;

                color: #FFFFFF;

                &:hover {
                    background: #E96963;
                }
            }
        }

        &-logbottom {
            padding: 22px 0;
            background: #F8F8F8;
            text-align: center;
            letter-spacing: 0.01em;

            color: #747474;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }
    }

    &__nav {

        &-item {
            width: 50%;
            padding-bottom: 17px;
            text-align: center;
            border-bottom: 1px solid transparent;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            cursor: pointer;

            color: #ABABAB;

            &:hover {
                color: #3D3D3D;
            }

            &.active {
                color: #3D3D3D;
                border-bottom: 1px solid #747474;
            }
        }
    }

    &__content {

        &-box {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    &__forgot {

        &-pass {
            display: none;
            

            &.active {
                display: block;
            }
        }

        &-box {
            padding: 0 32px;
        }

        &-mail {
            margin-bottom: 24px;
            position: relative;

            input {
                width: 100%;
                padding: 16px;
                letter-spacing: 0.01em;
                
                background: #FFFFFF;
                border: 1px solid #DFDFDF;

                &:focus {
                    border: 1px solid #56C37C;
                }

                &::placeholder {
                    color: #ABABAB;
                }
            }
            
        }

        &-submit {
            margin-bottom: 16px;

            input {
                width: 100%;
                padding: 22px 0;
                background: #FD9590;
                letter-spacing: 0.04em;
                text-transform: uppercase;

                color: #FFFFFF;

                &:hover {
                    background: #E96963;
                }
            }
        }

        &-remember {
            margin-bottom: 32px;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }

        &-bottom {
            padding: 22px 0;
            background: #F8F8F8;
            text-align: center;
            letter-spacing: 0.01em;

            color: #747474;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }
    }

    &__reg {

        &-radio {
            margin-bottom: 25px;
            display: flex;
        }

        &-radioitem {

            &:hover {

                input[type=radio] + label:before {
                    content: '';
                    border: 1px solid #3d3d3d;
                }
            }

            label {
                font-size: 12px;
                white-space: nowrap;
            }

            input[type=checkbox], input[type=radio] {display: none;}

            input[type=radio] + label:before {
                content: "\26AB";
                border: 1px solid #DFDFDF;
                display: inline-block;
                font-size: 15px;    
                line-height: 12px;
                margin: -5px 12px 0 0;
                height: 20px;
                width: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 0;    
                transition: font-size ease .3s;
                cursor: pointer;
            }
            input[type=radio]:checked + label:before {
                background: url('../../img/main-icon-check.svg') 50% 50% no-repeat;
                background-size: 58%;  
            }

            &:not(:last-child) {
                margin-right: 34px;
            }
        }

        &-input {
            margin-bottom: 16px;
        }

        &-inputitem {
            position: relative;

            input {
                
                width: 100%;
                padding: 16px;
                letter-spacing: 0.01em;
                background: #FFFFFF;
                border: 1px solid #DFDFDF;

                &:focus {
                    border: 1px solid #56C37C;
                }

                &::placeholder {
                    color: #ABABAB;
                }
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        &-passicon {
            width: 24px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;

            img {
                display: none;

                &.active {
                    display: block;
                }
            }

            
        }

        &-forgot {
            margin-bottom: 32px;
            display: flex;
            justify-content: flex-end;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }

        &-submit {
            margin-bottom: 16px;

            input {
                width: 100%;
                padding: 22px;
                background: #FD9590;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FFFFFF;

                &:hover {
                    background: #E96963;
                }
            }
        }

        &-politic {
            margin-bottom: 32px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #747474;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }

        &-bottom {
            padding: 22px;
            background: #F8F8F8;
            text-align: center;
            letter-spacing: 0.01em;

            color: #747474;

            a {
                letter-spacing: 0.01em;
                color: #56C47C;
                border-bottom: 1px solid #56C47C;

                &:hover {
                    color: #008830;
                    border-bottom: 1px solid #008830;
                }
            }
        }
    }

    &__close {
        position: absolute;
        top: -28px;
        right: -33px;
        width: 17px;
        cursor: pointer;
    }

    // Link

    &__link {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;

        &.passive {
            display: none;
        }

        &-main {
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 48px 42px 0;
            background: #FFFFFF;
            box-shadow: 0px 20px 60px rgba(208, 208, 208, 0.5);
        }
        
        &-title {
            margin-bottom: 12px;
            font-family: $font-corm;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            letter-spacing: -0.006em;

            color: #3D3D3D;
        }

        &-text {
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            color: #3D3D3D;
        }
    }

    // -------History-------
    &__history {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;

        &.passive {
            display: none;
        }

        &-main {
            width: 400px;
            padding: 48px 32px 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            box-shadow: 0px 20px 60px rgba(208, 208, 208, 0.5);
        }

        &-title {
            margin-bottom: 12px;
            font-family: $font-corm;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            letter-spacing: -0.006em;
            color: #3D3D3D;
        }

        &-text {
            margin-bottom: 26px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #3D3D3D;
        }

        &-box {
            margin-bottom: 32px;
        }

        &-item {
            position: relative;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            input {
                padding: 16px 16px 14px;
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #DFDFDF;
                font-family: $font-main;
                font-size: 16px;
                letter-spacing: 0.01em;

                &:focus {
                    border: 1px solid #56C37C;
                }

                &::placeholder {
                    color: #ABABAB;
                }
            }
        }

        &-selects {
            display: flex;
            justify-content: space-between;
        }

        &-date {
            width: 35%;
            position: relative;
        }

        &-type {
            width: 60%;
            position: relative;

            .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
                width: 100%;
                padding: 16px 16px 14px;
                font-family: $font-main;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.01em;
                color: #494949;
                border-radius: 0;
            }
    
            .selectize-input {
                box-shadow: none;
                border: 1px solid #dfdfdf;
            }
    
            .selectize-dropdown .option, .selectize-dropdown .optgroup-header {
                padding: 16px;
                cursor: pointer;
                font-family: $font-main;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.01em;
                color: #494949;
    
                &:hover {
                    background: #F8F8F8;
                }
            }
        }

        &-city {
            position: relative;

            .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
                width: 100%;
                padding: 16px 16px 14px;
                font-family: $font-main;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.01em;
                color: #494949;
                border-radius: 0;
            }
    
            .selectize-input {
                box-shadow: none;
                border: 1px solid #dfdfdf;
            }
    
            .selectize-dropdown .option, .selectize-dropdown .optgroup-header {
                padding: 16px;
                cursor: pointer;
                font-family: $font-main;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.01em;
                color: #494949;
    
                &:hover {
                    background: #F8F8F8;
                }
            }
        }

        &-desc {

            textarea {
                width: 100%;
                height: 100px;
                padding: 16px;
                border: 1px solid #DFDFDF;

                &::placeholder {
                    color: #ABABAB;
                }

                &:focus {
                    border: 1px solid #56C37C;
                }
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-cancel {
            width: 48%;

            a {
                display: inline-block;
                padding: 22px 44px;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FD9590;
                background: rgba(253, 149, 144, 0.2);

                &:hover {
                    background: rgba(253, 149, 144, 0.4);
                }
            }
        }

        &-submit {
            width: 48%;

            input {
                padding: 22px 20px;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                background: #FD9590;
                color: #FFFFFF;
                cursor: pointer;

                &:hover {
                    background: #E96963;
                }
            }
        }
    }

    &__moder {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 5;

        &.passive {
            display: none;
        }

        &-main {
            width: 400px;
            padding: 48px 32px 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            box-shadow: 0px 20px 60px rgba(208, 208, 208, 0.5);
        }

        &-title {
            margin-bottom: 18px;
            font-family: $font-corm;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            letter-spacing: -0.006em;
            color: #3D3D3D;
        }

        &-text {
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #3D3D3D;
        }

        &-button {
            display: flex;
            justify-content: center;

            a {
                padding: 22px 30px;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #FD9590;

                &:hover {
                    background: #E96963;
                }
            }
        }
    }
}

@media all and (max-width: 577px) {
    .popup {

        &__enter {

            &-main {
                padding-top: 50px;
                width: 100%;
                overflow: auto;
                height: 500px;
            }
        }

        &__link {

            &-main {
                padding-top: 50px;
                width: 100%;
            }
        }

        &__history {

            &-selects {
                flex-direction: column;
            }

            &-main {
                padding-top: 50px;
                width: 100%;
                overflow-y: auto;
                height: 500px;
            }

            &-date {
                width: 100%;
                margin-bottom: 12px;
            }

            &-type {
                width: 100%;
            }

            &-bottom {
                flex-direction: column;
            }

            &-cancel {
                margin-bottom: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            &-submit {
                display: flex;  
                justify-content: center;
            }
        }

        &__moder {

            &-main {
                padding-top: 50px;
                width: 100%;
            }

            &-button {

                a {
                    font-size: 13px;
                }
            }
        }

        &__close {
            top: 15px;
            right: 15px;
        }
    }
}